
html { overflow-y: scroll; }

body {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
}

/* .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background-color: #007bff !important;
  color: white;
} */

.header-text{
  text-align:center;
  color:whitesmoke;
}

table td{
  color: white;
  font-size: 20px;
}

table th{
  color: white;
  font-size: 20px;
}

/* tr:nth-child(even) {
  background-color: #555555;
} */

.dark-table td{
  color: black !important;
}

.dark-table th{
  color: black !important;
}

.login-card{
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  max-width: 320px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

.pick-text{
  color: white;
  font-size: 20px;
}

.picked-text{
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.error-text{
  color: red;
}

.team-button{
  width: 150px;
  height: 75px;
  font-size: 35px;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

@media screen and (max-width: 640px) {
  table td{
      color: white;
      font-size: 16px;
  }

  table th{
      color: white;
      font-size: 16px;
  }
  
  h3 {
      font-size: 22px;
  }
  
  h4 {
      font-size: 16px;
  }
}
